.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 33px auto 0;
  padding: 9px 30px 9px 29px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 40px 0 33px;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-3 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-4 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 236px;
    margin-top: -305px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 236px;
    margin-top: -305px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 236px;
    margin-top: -334px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 236px;
    margin-top: -305px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-1 .u-text-2 {
    margin-top: 359px;
  }

  .u-section-1 .u-image-1 {
    height: 279px;
    margin-top: -348px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 359px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
    margin-top: -348px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 359px;
  }

  .u-section-1 .u-image-3 {
    height: 279px;
    margin-top: -348px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 359px;
  }

  .u-section-1 .u-image-4 {
    height: 279px;
    margin-top: -348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 564px;
  }

  .u-section-1 .u-image-1 {
    height: 484px;
    margin-top: -553px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 564px;
  }

  .u-section-1 .u-image-2 {
    height: 484px;
    margin-top: -553px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 564px;
  }

  .u-section-1 .u-image-3 {
    height: 484px;
    margin-top: -553px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 564px;
  }

  .u-section-1 .u-image-4 {
    height: 484px;
    margin-top: -553px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 298px;
    margin-top: -367px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    height: 298px;
    margin-top: -367px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    height: 298px;
    margin-top: -367px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    height: 298px;
    margin-top: -367px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 548px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 547px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-3 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-weight: 700;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -305px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -305px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-3 .u-text-2 {
    margin-top: 359px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -348px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 359px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -348px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 564px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -553px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 564px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -553px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -367px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: -367px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 547px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 40px 0 10px;
}

.u-section-5 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-weight: 700;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -305px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -305px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-5 .u-text-2 {
    margin-top: 359px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -348px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 359px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -348px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 564px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -553px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 564px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -553px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -367px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -367px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 548px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-6 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-6 .u-text-1 {
    font-weight: 700;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 547px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 40px 0 10px;
}

.u-section-7 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-7 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-7 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-7 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: 700;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -305px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 316px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -305px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-7 .u-text-2 {
    margin-top: 359px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -348px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 359px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -348px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 564px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -553px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 564px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -553px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-text-2 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -367px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -367px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 636px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-8 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-text-1 {
    font-weight: 700;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 128px;
  }
}