.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 40px auto 0;
  padding: 9px 30px 9px 29px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 40px 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-1 .u-list-item-1 {
  filter: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-list-item-2 {
  filter: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-list-item-3 {
  filter: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-3 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-list-item-4 {
  filter: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-1 .u-image-4 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 226px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    height: 226px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 364px;
  }

  .u-section-1 .u-image-2 {
    height: 364px;
  }

  .u-section-1 .u-image-3 {
    height: 364px;
  }

  .u-section-1 .u-image-4 {
    height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 287px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 287px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 287px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -74px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 200px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-1 .u-image-1 {
    height: 199px;
    margin-top: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 199px;
    margin-top: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 199px;
    margin-top: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 199px;
    margin-top: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 548px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -289px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 353px;
    margin-bottom: -289px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -337px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 270px;
    margin-bottom: -337px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-bottom: -385px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 547px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-3 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -130px;
    width: 100%;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 150px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-3 .u-image-1 {
    height: 150px;
    margin-top: 21px;
  }

  .u-section-3 .u-image-2 {
    height: 150px;
    margin-top: 21px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -289px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 353px;
    margin-bottom: -289px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -337px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 270px;
    margin-bottom: -337px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -344px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 203px;
    margin-bottom: -344px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-bottom: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 547px;
}

.u-section-5 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 40px 0 10px;
}

.u-section-5 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -132px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 150px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-5 .u-image-1 {
    height: 150px;
    margin-top: 40px;
  }

  .u-section-5 .u-image-2 {
    height: 150px;
    margin-top: 40px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 548px;
}

.u-section-6 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-6 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto -425px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -289px;
  }

  .u-section-6 .u-image-1 {
    width: 940px;
    height: 353px;
    margin-bottom: -289px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -337px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 270px;
    margin-bottom: -337px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-bottom: -604px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 547px;
}

.u-section-7 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 40px 0 10px;
}

.u-section-7 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-7 .u-image-1 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-7 .u-container-layout-2 {
  padding: 12px 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin: 0 7px;
}

.u-section-7 .u-image-2 {
  height: 298px;
  margin-top: 11px;
  margin-bottom: 0;
  --radius: 30px;
  width: 100%;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: -131px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 150px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-7 .u-image-1 {
    height: 150px;
    margin-top: -9px;
  }

  .u-section-7 .u-image-2 {
    height: 150px;
    margin-top: -9px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 636px;
}

.u-section-8 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-8 .u-image-1 {
  width: 1000px;
  height: 375px;
  margin: 40px auto 0;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}