 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 843px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 600px;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
  margin-right: 400px;
}

.u-section-1 .u-repeater-1 {
  min-height: 400px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/CoherenceFunctionApp.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto;
  padding: 9px 30px 9px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 912px;
  --gap: 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  height: 167px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-2 .u-image-2 {
  height: 167px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-2 .u-image-3 {
  height: 167px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px auto 0;
}

.u-section-2 .u-image-4 {
  height: 167px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 752px;
    grid-gap: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 130px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 40px;
    width: 100%;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1800px;
  }

  .u-section-2 .u-image-1 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 223px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: -1784px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: -1784px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: -1784px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: -1784px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-4 {
    font-weight: 600;
  }

  .u-section-2 .u-text-7 {
    font-weight: 600;
  }

  .u-section-2 .u-text-10 {
    font-weight: 600;
  }

  .u-section-2 .u-text-13 {
    font-weight: 600;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 778px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: -75px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 28px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  margin: 17px 2px 0;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 400px;
  margin: 30px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 540px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 664px;
  --gap: 10px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

.u-section-3 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

.u-section-3 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

.u-section-3 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 auto 0 25px;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: -25px auto 1px 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -33px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 414px;
    height: 331px;
    margin-top: -4px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-3 .u-list-1 {
    width: 470px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-3 {
    margin-top: -35px;
    margin-left: 91px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-5 {
    margin-top: -35px;
    margin-left: 91px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-7 {
    margin-top: -35px;
    margin-left: 91px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-9 {
    margin-top: -35px;
    margin-left: 91px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-11 {
    margin-top: -35px;
    margin-left: 91px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 29px;
    animation-duration: 2000ms;
  }

  .u-section-3 .u-text-13 {
    margin-top: -35px;
    margin-left: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 304px;
    height: 243px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 790px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -41px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -41px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -41px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-8 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -41px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-10 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -41px;
    margin-left: 100px;
  }

  .u-section-3 .u-text-12 {
    font-size: 3rem;
    margin-top: 86px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -41px;
    margin-left: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 602px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-left: 49px;
  }
}