.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 600px;
  font-weight: 300;
  margin: 40px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-icon-1 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  padding: 10px 13px 10px 12px;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 1px;
  padding: 10px 21px;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-icon-2 {
  font-size: 1.75em;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  letter-spacing: 1px;
  padding: 10px 13px 10px 12px;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  letter-spacing: 1px;
  background-image: none;
  padding: 10px 22px 10px 20px;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-icon-3 {
  font-size: 1.75em;
  padding: 3px;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 300;
  font-size: 1.25rem;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  letter-spacing: 1px;
  padding: 10px 22px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    font-weight: 300;
    text-transform: none;
  }

  .u-section-1 .u-btn-4 {
    font-weight: 300;
    text-transform: none;
  }

  .u-section-1 .u-btn-5 {
    font-weight: 300;
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
}