 .u-section-1 {
  background-image: url("images/BestAirbnbsandHotelsNearWhiteSandsNationalPark_david-whipple-mU-wz7JlJMc-unsplash.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 0.6;
  font-weight: 300;
  margin: 200px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 300;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0;
  padding: 9px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-1 {
    --text-color-var: #2e4ba3;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 680px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 53px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 20px 0 53px;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: none;
  --radius: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 7px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: none;
  --radius: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 20px 7px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: none;
  --radius: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px 7px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
  filter: none;
  --radius: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 20px 7px 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-gap: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 236px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 236px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 236px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 484px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 484px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    height: 484px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 298px;
  }

  .u-section-2 .u-image-2 {
    height: 298px;
  }

  .u-section-2 .u-image-3 {
    height: 298px;
  }

  .u-section-2 .u-image-4 {
    height: 298px;
  }
}