.u-section-1 .u-sheet-1 {
  min-height: 859px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 300;
  margin: 40px auto 0;
  padding: 9px 30px 9px 29px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-1 .u-image-1 {
  width: 1000px;
  height: 600px;
  margin: 40px auto -114px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 204px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 773px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-2 .u-image-1 {
  width: 1000px;
  height: 600px;
  margin: 40px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 204px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 773px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-3 .u-image-1 {
  width: 1000px;
  height: 600px;
  margin: 40px auto -200px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 204px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 518px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-4 .u-image-1 {
  width: 1000px;
  height: 600px;
  margin: 40px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 40px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 700;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 204px;
  }
}